html{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-direction: column;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.game{
    display: flex;
    justify-content: center;
    width: 800px;
    height: 800px;
   

}

.column, .row{
width: 25px;
height: 25px;
}

.header{
    display: flex;
    justify-content: center;
}



.row:hover{
    background-color: aqua;
}

.color-selector{
    display: flex;
    gap: 10px;
}





